
<div class="card-body">
  <form novalidate  [formGroup]="productSuppForm">

    <div formArrayName="suppliers">
      <div *ngIf="product.supplierIds">
        <div class="form-group row mb-2"
             *ngFor="let supplier of suppliers.controls; let i=index">
          <label class="col-md-2 col-form-label"
                 [attr.for]="i">Fournisseur</label>

          <div class="col-md-8">
            <input class="form-control"
                   [id]="i"
                   type="text"
                   [attr.disabled]="true"
                   [formControlName]="i" />
          </div>
          <button class="col-md-1 btn btn-outline-warning btn-sm"
                  type="button"
                  title="Supprimer ce fournisseur"
                  (click)="deleteSupplier(i, supplier.value)">Supprimer
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 mb-2">
        <button class="btn btn-outline-secondary btn-sm"
                type="button"
                title="Add a supplier"
                (click)="addSupplier()">Ajouter un fournisseur
        </button>
      </div>
        <div *ngIf="addSupp" class="col-md-8">
          <select class="form-control"  *ngIf="newSuppliers$ | async as newSuppliers">
            <option value="0"> Choisir le fournisseur</option>
            <option *ngFor="let supplier of newSuppliers ; let i = index" [value]="supplier.name" (click)="chooseSupplier($any($event.target).value)"> {{ supplier.name}}</option>
          </select>
        </div>

    </div>

    <div class="form-group row mb-2">
      <div class="offset-md-2 col-md-4">
        <button class="btn btn-primary mr-3"
                style="width:80px; margin-right: 10px"
                type="submit"
                [title]="productSuppForm.valid ? 'Enregistrer les données saisies' : 'Disabled until the form data is valid'"
                [disabled]="!productSuppForm.valid"   (click)="saveSuppliers()">
          Save
        </button>
      </div>
    </div>
  </form>
</div>

